@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Data Table";

}
<h2>DataTable </h2>
<table id="dataTable" class="table table-bordered table-striped"> </table>

@section scripts {
    <script>
       
        $(document).ready(function () {
            console.log('Document is ready.');

        $('#dataTable').DataTable({
            "ajax": {
                url: '/House/DisplayHouseDT',
                type: 'POST',
                datatype: 'JSON',
                dataSrc: ""
            },

            "columns": [
                { "targets": 0, "data": "houseId", "title": " House ID" },
                { "targets": 1, "data": "houseName", "title": "Sender Name" }
            ]
            });
        });


    </script>

}